<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { useCurrentUserStore } from '@/stores/currentUser'
import Background from '@/components/BackGround.vue'

const userStore = useCurrentUserStore()

</script>

<template>
  <Background :move="true"/>
  <main>
    <header class="header">
      <h1><img src="../assets/img/logo_cards.svg" alt="logo"> RayPro</h1>
      <h2 class="txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat tempora maiores, sint debitis nam
        ipsa similique aspernatur. <br> Voluptatibus tenetur ad quod?</h2>
    </header>
    <div class="container">
      <div class="box">
        <div class="cover"></div>
        <div class="content">
          <form class="form">
            <h3 class="logo"><i class="fa-solid fa-key"></i></h3>
            <h2>Sign in</h2>
            <div class="inputBox">
              <input type="text" required>
              <i class="fa-solid fa-user"></i>
              <span>Username</span>
            </div>
            <div class="inputBox">
              <input type="password" required>
              <i class="fa-solid fa-lock"></i>
              <span>Password</span>
            </div>
            <div class="links">
              <a href="#"><i class="fa-solid fa-question"></i> Forgot Password</a>
              <a href="#"><i class="fa-solid fa-user-plus"></i> Sign up</a>
            </div>
            <div class="inputBox">
              <input type="submit" value="Login">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

header {
  position: relative;
  width: 50%;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
  color: #9dffb5;
  /* color: white; */
  text-shadow: 
    1px 1px #919191, 
    1px 2px #919191, 
    1px 3px #919191, 
    1px 4px #919191, 
    1px 5px #919191, 
    1px 6px #919191, 
    1px 7px #919191, 
    1px 8px #919191, 
    1px 9px #919191, 
    1px 10px 1px #707070, 
    1px 18px 6px #707070, 
    1px 22px 10px #707070, 
    1px 25px 35px #707070;
}

.txt {
  font-size: 2em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .box {
  position: relative;
  width: 400px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#fff), to(#e3e3e3));
  background: linear-gradient(#fff, #fff, #e3e3e3);
  z-index: 1;
  border-radius: 5px 0 0 5px;
}

.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 25px;
  height: 100%;
  background: #9d9d9d;
  z-index: 1;
  border-radius: 0 5px 5px 0;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdae1), to(#a3aaba));
  background: linear-gradient(#dbdae1, #a3aaba);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 10px 20px rgba(0, 0, 0, 0.1), 50px 50px 80px rgba(0, 0, 0, 0.25), inset 3px 3px 2px #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 10px 20px rgba(0, 0, 0, 0.1), 50px 50px 80px rgba(0, 0, 0, 0.25), inset 3px 3px 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

.content .form {
  position: relative;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 70px;
  height: 70px;
  background-color: #444;
  color: #fff;
  font-size: 1.75em;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.content .form h2 {
  font-size: 2em;
  color: #444;
  margin-bottom: 20px;
}

.content .form .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.content .form .inputBox input {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 25px;
  font-size: 1.25em;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 3px solid #444;
  outline: none;
  color: #444;
}

.content .form .inputBox input[type=submit] {
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.content .form .inputBox input[type=submit]:hover {
  background-color: #333;
}

.content .form .inputBox input:focus~span,
.content .form .inputBox input:valid~span {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  font-size: 0.9em;
  background-color: #444;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}

.content .form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 15px;
  font-size: 1.25em;
  color: #444;
}

.content .form .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 10px 25px;
  font-size: 1.25em;
  pointer-events: none;
  color: #444;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .form .links {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content .form .links a {
  color: #444;
  text-decoration: none;
}

/*# sourceMappingURL=burger_potts.css.map */
</style>