<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Background from '@/components/BackGround.vue'

</script>

<template>
  <Background :move="false" />

  <header>
    <h2>
      LOGO + RayPro
    </h2>
  </header>

  <section class="container">
    <div class="sect">
      <div class="card">
        <div class="circle">
          <img src="../assets/img/jeton_pirate.jpg" class="logo" alt="">
        </div>
        <div class="content">
          <form method="POST">
            <h2>Créer une rétro</h2>
            <label for="title">Titre :</label>
            <input type="text" name="title">
            <label for="team">Nom de l'équipe :</label>
            <input type="text" name="team">
            <textarea name="description" cols="30" rows="10" placeholder="Description (optionnel)"></textarea>
            <button type="submit">Valider</button>
          </form>
        </div>
      </div>
    </div>
    <div class="sect">
      <div class="card">
        <div class="circle">
          <img src="../assets/img/jeton_pirate.jpg" class="logo" alt="">
        </div>
        <div class="content">
          <form method="POST">
            <h2>Rejoindre une rétro</h2>
            <label for="retro">Nom de la rétro :</label>
            <input type="text" name="retro">
            <p>OU</p>
            <label for="token">Numéro de la rétro :</label>
            <input type="text" name="token">
            <button type="submit">Valider</button>
          </form>
        </div>
      </div>
    </div>
  </section>

</template>

<style scoped>
.sect {
  /* border: 1px solid red; */
  width: 30%;
  height: 66vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .container {
    /* background-color: aquamarine; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  button {
    padding: 10px;
  }

  .card {
  /* border: 1px solid green; */
  position: relative;
  width: 200px;
  height: 200px;
  /* margin: 20px; */
  border-radius: 5px;
  transition: 0.2s;
  transition-delay: 0.2s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card:hover {
  /* border: 10px solid green; */
  width: 100%;
  height: 66%;
  transition-delay: 0s;
  position: absolute;
  z-index: 10;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 100%;
  /* background-color: #333; */
  clip-path: circle(120px at center);
  transition: 0.2s;
}

/* .card:hover .circle::before {
  clip-path: circle(400px at center);
} */

.card .circle .logo {
  position: relative;
  width: fit-content;
  border-radius: 50%;
  transition: 0.2s;
  transition-delay: 0s;
}

.card:hover .circle .logo {
  /* transform: scale(0); */
  /* height: 300px; */
  height: 100%;
  /* transform: translateX(50%); */
  transform: translateY(-100%);
  padding: 0.5rem;
  /* visibility: hidden; */
  transition-delay: 0s;
}

.content {
  position: relative;
  width: 50%;
  top: 20%;
  /* left: 20%; */
  padding: 20px;
  padding-left: 40px;
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
}

.card:hover .content {
  /* border: 1px solid purple; */
  width: 100%;
  top: 0;
  /* left: 0; */
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  inset: ;
}

.content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}

.content p {
  color: #fff;
}

.content a {
  position: relative;
  color: #111;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}

.card .product_img {
  position: absolute;
  /* width: fit-content; */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 300px;
  transition: 0.2s;
  transition-delay: 0s;
}

</style>