<script setup lang="ts">
import { ref } from 'vue';
import type { UserForm } from '@/models/User'
import { useCurrentUserStore } from '@/stores/currentUser'

const userStore = useCurrentUserStore()

const user = ref<UserForm>({
  email: '',
  firstName: '',
  password: ''
})

function signin() {
  userStore.signin(user.value.email, user.value.password)
}

</script>

<template>

  <h1>
    Sign in page
  </h1>
  <input type="email" class="input"
    v-model="user.email">
  <input type="password" class="input"
    v-model="user.password">
  <button @click="signin">Valider</button>

  {{ user }}

</template>