<script setup>
import anime from 'animejs/lib/anime.es.js';
import { ref, onMounted } from 'vue'

const props = defineProps({
  move: Boolean
})

const classes = ref(['block'])

const options = {
  targets: '.block',
  translateX: function () {
    return anime.random(-800, 800)
  },
  translateY: function () {
    return anime.random(-500, 500)
  },
  scale: function () {
    return anime.random(1, 5)
  }
}

const animatedOptions = {
  easing: 'easeOutQuad',
  duration: 5000,
  delay: anime.stagger(10),
  complete: animateBlocks
}

function animateBlocks(move = false) {
  if (move) {
    anime({ ...options, ...animatedOptions })
    classes.value.splice(classes.value.indexOf('fixed'), 1)
  } else {
    anime(options)
    classes.value.push('fixed')
  }
}

onMounted(() => { animateBlocks(props.move) })

</script>

<template>
  <div class="background">
    <div v-for='i in 100' :key="i" :class="{ block: true, fixed: classes.indexOf('fixed') >= 0 }"></div>
  </div>
</template>

<style scoped>
.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.block {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff59b;
  -webkit-animation: anim 5s forwards;
  animation: anim 5s forwards;
}

.fixed {
  -webkit-animation: anim .5s forwards;
  animation: anim .5s forwards;
}

.block:nth-child(3n+2) {
  background-color: #c0e1ff;
}

.block:nth-child(3n) {
  background-color: #ffe5d5;
}

@-webkit-keyframes anim {
  0% {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0;
  }

  100% {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}

@keyframes anim {
  0% {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0;
  }

  100% {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}
</style>