<script setup lang="ts">

import { ref } from 'vue'

const visible = ref(false)

</script>

<template>

  <nav :class="{'navigation': true, 'active': visible}">
    <div  @click="visible = !visible" :class="{'toggle': true, 'active': visible}">
      <span></span>
    </div>
    <ul>
      <li style="--i:0"><a href="#">Home</a></li>
      <li style="--i:1"><a href="#">About</a></li>
      <li style="--i:2"><a href="#">Skills</a></li>
      <li style="--i:3"><a href="#">Contact</a></li>
    </ul>
  </nav>

    <div class="burger">
      <div @click="visible = !visible" :class="{'menu-btn':true, 'open': visible}">
        <div class="menu-btn__burger"></div>
        <nav v-if="visible">
          <ul>
            <li style="--i:0" class="nav">Home</li>
            <li style="--i:1" class="nav">Feedback</li>
            <li style="--i:2" class="nav">Connexion</li>
          </ul>
        </nav>
      </div>
    </div>

</template>


<style scoped lang="scss">
  .navigation {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 250px;
  z-index: 100;
}

.toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 5px 20px;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle::before {
  content: 'Menu';
  color: green;
  margin-right: 10px;
}

.toggle.active::before {
  content: 'Close';
  color: red;
  margin-right: 10px;
}

.toggle span {
  position: relative;
  width: 20px;
  height: 50px;
}

.toggle span::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
  transition: 0.5s;
}

.toggle span::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
  transition: 0.5s;
}

.toggle.active span::before {
  transform: rotate(225deg);
  background-color: red;
  top: 24px;
}

.toggle.active span::after {
  transform: rotate(-225deg);
  background-color: red;
  bottom: 24px;
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
}

ul li {
  position: relative;
  list-style: none;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translateX(250px);
  transition-delay: calc(0.1s * var(--i));
}

.navigation.active ul li {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  transition: 0.5s;
}

ul li a:hover {
  background-color: #f6f6f6;
  color: green;
  transition: 0s;
}
</style>