<script setup lang="ts">
import { ref } from 'vue'

const visible = ref(false)

</script>

<template>
    <div class="burger" :class="{'active': visible}">
      <div @click="visible = !visible" :class="{'menu-btn': true, 'open': visible}">
        <div class="menu-btn__burger"></div>
        <nav>
          <ul>
            <li class="line"></li>
            <li style="--i:0" class="nav"><a class="link l1" href="/">Home</a></li>
            <li style="--i:1" class="nav"><a class="link" href="">Feedback</a></li>
            <li style="--i:2" class="nav"><a class="link" href="/about">Connexion</a></li>
          </ul>
        </nav>
      </div>
    </div>

</template>

<style scoped lang="scss">
.line {
  height: 3px;
  width: 65%;
  background-color: #f2f2f2;
}

nav {
  // border: 1px solid yellow;
  position: fixed;
  top: 35px;
  left: 0;
  width: 80%;
  // height: 50%;
  z-index: 10;
  transition: 1s;
  // z-index: 10;
}

ul {
  // border: 1px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  list-style: none;
}

ul li {
  position: relative;
  list-style: none;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  transform: translateX(250px);
  transition-delay: calc(0.1s * var(--i));
}

.burger.active nav {
  background-color: #222;
  // height: 100%;
  width: 100%;
  // backdrop-filter: blur(10px);
}

li:not(li:nth-child(1)) {
  margin-top: 2rem;
}

.burger.active ul li {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

ul li a {
  width: 100%;
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #f2f2f2;
  // color: #333;
  transition: .5s;
}

ul li a:hover {
  background-color: #f6f6f6;
  color: green;
  transition: .5s;
}
.burger {
  // border: 1px solid red;
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  height: 50px;
  // z-index: 100;
}
.menu-btn {
  // border: 1px solid #f2f2f2;
  position: fixed;
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // top: 0;
  right: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  z-index: 20;

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
</style>